.li-css{
    display: flex;
    text-decoration: none;
    color: #616161;
    width: 100%;
    margin-top:30px;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    
}
.Nav-link{
    width: 60%;
    margin-left: 40%;
    background-color: #000000;
    height:100vh;
    padding-top: 80px;
    padding-bottom: 80px;
    list-style: none;
    position: fixed;

}
.li-css:hover{
    color:white;
}
.Main-Navbar{
    display:none;
}
.Mobile-menu-icon{
    cursor: pointer;
    display: block;
    padding: 7px;
    margin: 10px;
    list-style: none;
    top: 0;
    right: 0;
    position: fixed;
}
.Navbar{
    position: fixed;
    top:0;
    z-index: 1;
}
