.body{
  width: 100%;
 font-family: "Montserrat", sans-serif;;
  height: 100vh;
}
.Main-App-css{
  width:100%;
}
.App-css{
  width:40%;
}
.App-css1{
  width:57.5%;
  margin-left:40%;  
}
.profile-Img{
  width: 40%;
  height:100vh;
  position:fixed; 
}
.Main-css{
  width: 100%;
  margin: 0 10px;
  justify-content: center;
    display: flex;
    text-align: center;
    line-height:1;
}
.About-css{
  width: 100%;
  margin: 0 10px;
}
.skills-css{
  width: 100%;
  margin: 0 10px;
}
.Reputation-css{
  width: 100%;
  margin: 0 10px;
}
.price-css{
  width: 100%;  
  margin: 0 10px;
}
.contact-css{
  width: 100%;
  margin: 0 10px;
}
.portfolio-css{
  width: 100%;
  margin :0 10px;
}
.footer-css{
  /* margin: 0 20px; */
}

.MainHeading-css{
  font-size: 65px;
  font-weight: 400;
}
.Main{
  padding:75px;
}
.MainDescription-css,.AboutDescription-css{
    font-weight: 400;
    width:100%
}
.btnMain-css{
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: #000000;
  cursor: pointer;
  border:none;
  margin-top:20px;
}
.btnMain-css:hover{
  background-color: #ccc; 
}
h3{
  font-weight: 400;
  color: grey;
  margin:  30px 0;
  font-size:40px
}
.ImgPortfolio-css{
  display: flex;
}
.Imagediv1-css,.Imagediv2-css{
  width:100%;
  padding-right: 10px
}
.Image-css{
  width: 100%;
  margin-bottom: 5px;
}
.Skilldiv1{
  background-color: #f1f1f1;
  margin: 20px 0;
}
.skills1{
  background-color: #616161;
  max-width: 95%;
  color: #fff;
  text-align: center;
}
.skills2{
  background-color: #616161;
  color: #fff;
  max-width: 85%;
  text-align:center
}
.skills3{
  background-color: #616161;
  color: #fff;
  max-width: 80%;
  text-align: center
}
.skills-description{
  letter-spacing: 4px !important;
  color: #757575;
  font-size: 20px;
  margin: 20px 0 ;
}
.skillAgenda-css{
  background-color: #616161;
  color: #fff !important;
  display: flex;
  padding:16px;
  justify-content: space-evenly;
text-align: center
}
.skillText-css{
  margin :0 16px;
  padding: 0 16px;
}
.skillTextHeading{
  font-size: 24px;
}
.ImageReputation-css{
  border-radius: 50%;
  width: 80px
}
.text{
  margin-left: 100px;
      position: relative;
      bottom: 76px;
      font-weight: 700;
    color: black;
    font-size: larger
}
.text-light{
  font-weight: 400;
  color: #ccc;
  margin-left: 40px;
}
.line-text{
  position: relative;
  margin-left: 100px;
  bottom:75px;
}
.MainReputation-css{
  margin-top:-21px;
  
}
.MainReputation1-css{
  margin-top:35px;
}
.Main-card{
  display:flex
}
.card-title{
text-align: center
}
.card-css{
  border: 2px solid #ccc;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width:50%;
}
.card-description{
  padding: 8px 16px;
    border-bottom: 1px solid #ddd
}
h1{
  padding: 8px 16px;
    background: #616161;
    margin: auto;
    color: #fff;
    font-weight: 400;
} 
h2{
  padding: 14px 16px;
    background:black;
    margin: auto;
    color: #fff;
    font-weight: 400;
}
.card{
  padding:16px;
}
.card-btn-css{
  background-color: #ccc;
  padding: 16px;
}
.btn{
  width:30%;
  padding:8px;
  cursor: pointer;
}
.btn:hover{
  background-color: #000000;
  color: #ffff;
}
.Icon-css{
 color: #ccc;
 width: 10px; 
 margin-right: 15px;
 font-size: 25px;
}
.ImageMap-css{
  width: 100%;
}
.text-foam-css{
  margin :revert
}
.Inp-css{
 margin-left: 5px;
  width: 98%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 17px;
}
.Submit{
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: #000000;
  cursor: pointer;
  border:none;
  margin-top:20px; 
}
.Submit:hover{
background-color: #ccc;
}
.MainIcon-css{
    color: grey;
    display: flex;
    font-size: 25px;
    justify-content: center;

}
.icon-css:hover{
    color: #616166;
}
.icon-css{
  padding-left:8px
}
.FooterLink-css{
  color: grey;
  text-decoration: none;

}
.footer-css{
  padding:20px;
  background-color: #f1f1f1;
  color: grey;
  text-align: center;
  margin-top:20px; 
  width:98.7%;
}
.profile-Responsive{
  display:none;
}
@media only screen and (max-width:990px){
  .Main{
    width:100%;
    align-items:center;
  }
  .App-css1{
    width: 100%;
    margin: 0;
  }
  .profile-Responsive{
    display:flex;
    width:70%;
    align-items:center;
    margin-left:15%;
  }
  .profile-Img{
    display:none;
  }
}
@media only screen and (max-width:600px){
  .Main-card{
    display: block;
  } 
  .card-css{
    width:100%;
    margin-bottom:10px
  }
  .ImgPortfolio-css{
    display:block;
  }
  .skillAgenda-css{
    display:block;
  }
  .skillText-css{
    margin-bottom:30px;
  }
  .profile-Responsive{
    max-width:100%;
    display:flex;

  }

}